In [10]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans
from sklearn.preprocessing import LabelEncoder, StandardScaler
from xgboost import XGBClassifier
from sklearn.metrics import silhouette_score, classification_report, confusion_matrix
from sklearn.model_selection import train_test_split

In [11]:
data = pd.read_csv('Mall_Customers.csv')

df = data.copy()
df.head()

   CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

In [12]:
df.shape

(200, 5)

In [13]:
df = df.drop(['CustomerID'], axis=1)

In [14]:
df.isna().sum()

Genre                     0
Age                       0
Annual Income (k$)        0
Spending Score (1-100)    0
dtype: int64

In [15]:
df = df.rename(columns={'Genre': 'Gender'})
df.head()

   Gender  Age  Annual Income (k$)  Spending Score (1-100)
0    Male   19                  15                      39
1    Male   21                  15                      81
2  Female   20                  16                       6
3  Female   23                  16                      77
4  Female   31                  17                      40

In [16]:
label = LabelEncoder()
df['Gender'] = label.fit_transform(df['Gender'])

In [17]:
df.head()

   Gender  Age  Annual Income (k$)  Spending Score (1-100)
0       1   19                  15                      39
1       1   21                  15                      81
2       0   20                  16                       6
3       0   23                  16                      77
4       0   31                  17                      40

In [18]:
df.describe()

           Gender         Age  Annual Income (k$)  Spending Score (1-100)
count  200.000000  200.000000          200.000000              200.000000
mean     0.440000   38.850000           60.560000               50.200000
std      0.497633   13.969007           26.264721               25.823522
min      0.000000   18.000000           15.000000                1.000000
25%      0.000000   28.750000           41.500000               34.750000
50%      0.000000   36.000000           61.500000               50.000000
75%      1.000000   49.000000           78.000000               73.000000
max      1.000000   70.000000          137.000000               99.000000

In [ ]:
wcss = []
for i in range(1,11):
    kmeans = KMeans(n_clusters=i, init='k-means++', random_state=10)
    kmeans.fit_predict(df)
    wcss.append(kmeans.inertia_)

plt.figure(figsize=(8, 6))
plt.plot(range(1,11), wcss, marker='o', markerfacecolor='red')
plt.title('Elbow Method')
plt.xlabel('Number of clusters')
plt.ylabel('WCSS')
plt.show()

In [ ]:
wcss = []
for i in range(1,11):
    kmeans = KMeans(n_clusters=i, init='k-means++', random_state=100)
    kmeans.fit_predict(df)
    wcss.append(kmeans.inertia_)

plt.figure(figsize=(8, 6))
plt.plot(range(1,11), wcss, marker='o', markerfacecolor='red')
plt.title('Elbow Method')
plt.xlabel('Number of clusters')
plt.ylabel('WCSS')
plt.show()

In [ ]:
kmeans = KMeans(n_clusters=4, random_state=100)
label1 = kmeans.fit_predict(df)
label1
df['Clusters'] = label1

In [138]:
print(f"Silhouette score: {silhouette_score(df, label1)}")

Silhouette score: 0.39257058330217853

In [139]:
df

     Gender  Age  Annual Income (k$)  Spending Score (1-100)  Clusters
0         1   19                  15                      39         1
1         1   21                  15                      81         1
2         0   20                  16                       6         0
3         0   23                  16                      77         1
4         0   31                  17                      40         1
..      ...  ...                 ...                     ...       ...
195       0   35                 120                      79         3
196       0   45                 126                      28         2
197       1   32                 126                      74         3
198       1   32                 137                      18         2
199       1   30                 137                      83         3

[200 rows x 5 columns]

In [140]:
df.describe()

,Gender,Age,Annual Income (k$),Spending Score (1-100),Clusters
count,200.000000,200.000000,200.000000,200.000000,200.000000
mean,0.440000,38.850000,60.560000,50.200000,1.245000
std,0.497633,13.969007,26.264721,25.823522,1.131981
min,0.000000,18.000000,15.000000,1.000000,0.000000
25%,0.000000,28.750000,41.500000,34.750000,0.000000
50%,0.000000,36.000000,61.500000,50.000000,1.000000
75%,1.000000,49.000000,78.000000,73.000000,2.000000
max,1.000000,70.000000,137.000000,99.000000,3.000000

In [141]:
df.groupby(['Clusters'], as_index=False)[['Age', 'Annual Income (k$)','Spending Score (1-100)']].mean()

   Clusters        Age  Annual Income (k$)  Spending Score (1-100)
0         0  52.057971           46.420290               39.884058
1         1  25.056604           40.735849               62.622642
2         2  40.394737           87.000000               18.631579
3         3  32.875000           86.100000               81.525000

In [142]:
X = df.loc[:, ['Age', 'Annual Income (k$)','Spending Score (1-100)']]
Y = df.iloc[:, -1]

In [143]:
scaler = StandardScaler()
new_df = scaler.fit_transform(X)

new_df

array([[-1.42456879, -1.73899919, -0.43480148],
       [-1.28103541, -1.73899919,  1.19570407],
       [-1.3528021 , -1.70082976, -1.71591298],
       [-1.13750203, -1.70082976,  1.04041783],
       [-0.56336851, -1.66266033, -0.39597992],
       [-1.20926872, -1.66266033,  1.00159627],
       [-0.27630176, -1.62449091, -1.71591298],
       [-1.13750203, -1.62449091,  1.70038436],
       [ 1.80493225, -1.58632148, -1.83237767],
       [-0.6351352 , -1.58632148,  0.84631002],
       [ 2.02023231, -1.58632148, -1.4053405 ],
       [-0.27630176, -1.58632148,  1.89449216],
       [ 1.37433211, -1.54815205, -1.36651894],
       [-1.06573534, -1.54815205,  1.04041783],
       [-0.13276838, -1.54815205, -1.44416206],
       [-1.20926872, -1.54815205,  1.11806095],
       [-0.27630176, -1.50998262, -0.59008772],
       [-1.3528021 , -1.50998262,  0.61338066],
       [ 0.94373197, -1.43364376, -0.82301709],
       [-0.27630176, -1.43364376,  1.8556706 ],
       [-0.27630176, -1.39547433, -0.59008772],
       [-0.99396865, -1.39547433,  0.88513158],
       [ 0.51313183, -1.3573049 , -1.75473454],
       [-0.56336851, -1.3573049 ,  0.88513158],
       [ 1.08726535, -1.24279661, -1.4053405 ],
       [-0.70690189, -1.24279661,  1.23452563],
       [ 0.44136514, -1.24279661, -0.7065524 ],
       [-0.27630176, -1.24279661,  0.41927286],
       [ 0.08253169, -1.20462718, -0.74537397],
       [-1.13750203, -1.20462718,  1.42863343],
       [ 1.51786549, -1.16645776, -1.7935561 ],
       [-1.28103541, -1.16645776,  0.88513158],
       [ 1.01549866, -1.05194947, -1.7935561 ],
       [-1.49633548, -1.05194947,  1.62274124],
       [ 0.7284319 , -1.05194947, -1.4053405 ],
       [-1.28103541, -1.05194947,  1.19570407],
       [ 0.22606507, -1.01378004, -1.28887582],
       [-0.6351352 , -1.01378004,  0.88513158],
       [-0.20453507, -0.89927175, -0.93948177],
       [-1.3528021 , -0.89927175,  0.96277471],
       [ 1.87669894, -0.86110232, -0.59008772],
       [-1.06573534, -0.86110232,  1.62274124],
       [ 0.65666521, -0.82293289, -0.55126616],
       [-0.56336851, -0.82293289,  0.41927286],
       [ 0.7284319 , -0.82293289, -0.86183865],
       [-1.06573534, -0.82293289,  0.5745591 ],
       [ 0.80019859, -0.78476346,  0.18634349],
       [-0.85043527, -0.78476346, -0.12422899],
       [-0.70690189, -0.78476346, -0.3183368 ],
       [-0.56336851, -0.78476346, -0.3183368 ],
       [ 0.7284319 , -0.70842461,  0.06987881],
       [-0.41983513, -0.70842461,  0.38045129],
       [-0.56336851, -0.67025518,  0.14752193],
       [ 1.4460988 , -0.67025518,  0.38045129],
       [ 0.80019859, -0.67025518, -0.20187212],
       [ 0.58489852, -0.67025518, -0.35715836],
       [ 0.87196528, -0.63208575, -0.00776431],
       [ 2.16376569, -0.63208575, -0.16305055],
       [-0.85043527, -0.55574689,  0.03105725],
       [ 1.01549866, -0.55574689, -0.16305055],
       [ 2.23553238, -0.55574689,  0.22516505],
       [-1.42456879, -0.55574689,  0.18634349],
       [ 2.02023231, -0.51757746,  0.06987881],
       [ 1.08726535, -0.51757746,  0.34162973],
       [ 1.73316556, -0.47940803,  0.03105725],
       [-1.49633548, -0.47940803,  0.34162973],
       [ 0.29783176, -0.47940803, -0.00776431],
       [ 2.091999  , -0.47940803, -0.08540743],
       [-1.42456879, -0.47940803,  0.34162973],
       [-0.49160182, -0.47940803, -0.12422899],
       [ 2.23553238, -0.4412386 ,  0.18634349],
       [ 0.58489852, -0.4412386 , -0.3183368 ],
       [ 1.51786549, -0.40306917, -0.04658587],
       [ 1.51786549, -0.40306917,  0.22516505],
       [ 1.4460988 , -0.25039146, -0.12422899],
       [-0.92220196, -0.25039146,  0.14752193],
       [ 0.44136514, -0.25039146,  0.10870037],
       [ 0.08253169, -0.25039146, -0.08540743],
       [-1.13750203, -0.25039146,  0.06987881],
       [ 0.7284319 , -0.25039146, -0.3183368 ],
       [ 1.30256542, -0.25039146,  0.03105725],
       [-0.06100169, -0.25039146,  0.18634349],
       [ 2.02023231, -0.25039146, -0.35715836],
       [ 0.51313183, -0.25039146, -0.24069368],
       [-1.28103541, -0.25039146,  0.26398661],
       [ 0.65666521, -0.25039146, -0.16305055],
       [ 1.15903204, -0.13588317,  0.30280817],
       [-1.20926872, -0.13588317,  0.18634349],
       [-0.34806844, -0.09771374,  0.38045129],
       [ 0.80019859, -0.09771374, -0.16305055],
       [ 2.091999  , -0.05954431,  0.18634349],
       [-1.49633548, -0.05954431, -0.35715836],
       [ 0.65666521, -0.02137488, -0.04658587],
       [ 0.08253169, -0.02137488, -0.39597992],
       [-0.49160182, -0.02137488, -0.3183368 ],
       [-1.06573534, -0.02137488,  0.06987881],
       [ 0.58489852, -0.02137488, -0.12422899],
       [-0.85043527, -0.02137488, -0.00776431],
       [ 0.65666521,  0.01679455, -0.3183368 ],
       [-1.3528021 ,  0.01679455, -0.04658587],
       [-1.13750203,  0.05496398, -0.35715836],
       [ 0.7284319 ,  0.05496398, -0.08540743],
       [ 2.02023231,  0.05496398,  0.34162973],
       [-0.92220196,  0.05496398,  0.18634349],
       [ 0.7284319 ,  0.05496398,  0.22516505],
       [-1.28103541,  0.05496398, -0.3183368 ],
       [ 1.94846562,  0.09313341, -0.00776431],
       [ 1.08726535,  0.09313341, -0.16305055],
       [ 2.091999  ,  0.09313341, -0.27951524],
       [ 1.94846562,  0.09313341, -0.08540743],
       [ 1.87669894,  0.09313341,  0.06987881],
       [-1.42456879,  0.09313341,  0.14752193],
       [-0.06100169,  0.13130284, -0.3183368 ],
       [-1.42456879,  0.13130284, -0.16305055],
       [-1.49633548,  0.16947227, -0.08540743],
       [-1.42456879,  0.16947227, -0.00776431],
       [ 1.73316556,  0.16947227, -0.27951524],
       [ 0.7284319 ,  0.16947227,  0.34162973],
       [ 0.87196528,  0.24581112, -0.27951524],
       [ 0.80019859,  0.24581112,  0.26398661],
       [-0.85043527,  0.24581112,  0.22516505],
       [-0.06100169,  0.24581112, -0.39597992],
       [ 0.08253169,  0.32214998,  0.30280817],
       [ 0.010765  ,  0.32214998,  1.58391968],
       [-1.13750203,  0.36031941, -0.82301709],
       [-0.56336851,  0.36031941,  1.04041783],
       [ 0.29783176,  0.39848884, -0.59008772],
       [ 0.08253169,  0.39848884,  1.73920592],
       [ 1.4460988 ,  0.39848884, -1.52180518],
       [-0.06100169,  0.39848884,  0.96277471],
       [ 0.58489852,  0.39848884, -1.5994483 ],
       [ 0.010765  ,  0.39848884,  0.96277471],
       [-0.99396865,  0.43665827, -0.62890928],
       [-0.56336851,  0.43665827,  0.80748846],
       [-1.3528021 ,  0.4748277 , -1.75473454],
       [-0.70690189,  0.4748277 ,  1.46745499],
       [ 0.36959845,  0.4748277 , -1.67709142],
       [-0.49160182,  0.4748277 ,  0.88513158],
       [-1.42456879,  0.51299713, -1.56062674],
       [-0.27630176,  0.51299713,  0.84631002],
       [ 1.30256542,  0.55116656, -1.75473454],
       [-0.49160182,  0.55116656,  1.6615628 ],
       [-0.77866858,  0.58933599, -0.39597992],
       [-0.49160182,  0.58933599,  1.42863343],
       [-0.99396865,  0.62750542, -1.48298362],
       [-0.77866858,  0.62750542,  1.81684904],
       [ 0.65666521,  0.62750542, -0.55126616],
       [-0.49160182,  0.62750542,  0.92395314],
       [-0.34806844,  0.66567484, -1.09476801],
       [-0.34806844,  0.66567484,  1.54509812],
       [ 0.29783176,  0.66567484, -1.28887582],
       [ 0.010765  ,  0.66567484,  1.46745499],
       [ 0.36959845,  0.66567484, -1.17241113],
       [-0.06100169,  0.66567484,  1.00159627],
       [ 0.58489852,  0.66567484, -1.32769738],
       [-0.85043527,  0.66567484,  1.50627656],
       [-0.13276838,  0.66567484, -1.91002079],
       [-0.6351352 ,  0.66567484,  1.07923939],
       [-0.34806844,  0.66567484, -1.91002079],
       [-0.6351352 ,  0.66567484,  0.88513158],
       [ 1.23079873,  0.70384427, -0.59008772],
       [-0.70690189,  0.70384427,  1.27334719],
       [-1.42456879,  0.78018313, -1.75473454],
       [-0.56336851,  0.78018313,  1.6615628 ],
       [ 0.80019859,  0.93286085, -0.93948177],
       [-0.20453507,  0.93286085,  0.96277471],
       [ 0.22606507,  0.97103028, -1.17241113],
       [-0.41983513,  0.97103028,  1.73920592],
       [-0.20453507,  1.00919971, -0.90066021],
       [-0.49160182,  1.00919971,  0.49691598],
       [ 0.08253169,  1.00919971, -1.44416206],
       [-0.77866858,  1.00919971,  0.96277471],
       [-0.20453507,  1.00919971, -1.56062674],
       [-0.20453507,  1.00919971,  1.62274124],
       [ 0.94373197,  1.04736914, -1.44416206],
       [-0.6351352 ,  1.04736914,  1.38981187],
       [ 1.37433211,  1.04736914, -1.36651894],
       [-0.85043527,  1.04736914,  0.72984534],
       [ 1.4460988 ,  1.23821628, -1.4053405 ],
       [-0.27630176,  1.23821628,  1.54509812],
       [-0.13276838,  1.390894  , -0.7065524 ],
       [-0.49160182,  1.390894  ,  1.38981187],
       [ 0.51313183,  1.42906343, -1.36651894],
       [-0.70690189,  1.42906343,  1.46745499],
       [ 0.15429838,  1.46723286, -0.43480148],
       [-0.6351352 ,  1.46723286,  1.81684904],
       [ 1.08726535,  1.54357172, -1.01712489],
       [-0.77866858,  1.54357172,  0.69102378],
       [ 0.15429838,  1.61991057, -1.28887582],
       [-0.20453507,  1.61991057,  1.35099031],
       [-0.34806844,  1.61991057, -1.05594645],
       [-0.49160182,  1.61991057,  0.72984534],
       [-0.41983513,  2.00160487, -1.63826986],
       [-0.06100169,  2.00160487,  1.58391968],
       [ 0.58489852,  2.26879087, -1.32769738],
       [-0.27630176,  2.26879087,  1.11806095],
       [ 0.44136514,  2.49780745, -0.86183865],
       [-0.49160182,  2.49780745,  0.92395314],
       [-0.49160182,  2.91767117, -1.25005425],
       [-0.6351352 ,  2.91767117,  1.27334719]])

In [150]:
df1 = pd.DataFrame(new_df, columns=X.columns)
df1

          Age  Annual Income (k$)  Spending Score (1-100)
0   -1.424569           -1.738999               -0.434801
1   -1.281035           -1.738999                1.195704
2   -1.352802           -1.700830               -1.715913
3   -1.137502           -1.700830                1.040418
4   -0.563369           -1.662660               -0.395980
..        ...                 ...                     ...
195 -0.276302            2.268791                1.118061
196  0.441365            2.497807               -0.861839
197 -0.491602            2.497807                0.923953
198 -0.491602            2.917671               -1.250054
199 -0.635135            2.917671                1.273347

[200 rows x 3 columns]

In [151]:
X_train, X_test, y_train, y_test = train_test_split(df1, Y, test_size=0.3, random_state=42)
model = XGBClassifier()
model.fit(X_train, y_train)

y_pred = model.predict(X_test)

print(classification_report(y_test, y_pred))
print('\n')
print(confusion_matrix(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.95      1.00      0.98        20
           1       1.00      0.93      0.97        15
           2       1.00      1.00      1.00        15
           3       1.00      1.00      1.00        10

    accuracy                           0.98        60
   macro avg       0.99      0.98      0.99        60
weighted avg       0.98      0.98      0.98        60



[[20  0  0  0]
 [ 1 14  0  0]
 [ 0  0 15  0]
 [ 0  0  0 10]]

In [152]:
import pickle

file = 'XGBModel.pkl' 
with open(file, 'wb') as f:
    pickle.dump(model, f)